body{
    background-color: #f2f2f2;
}
.TopText{
    background: #103989;
    height: 150px;
    padding-top: 40px;
    box-sizing: border-box;
}

.TopText h1{
    color: white;
    font-size: 46px;
    text-align: center;
}

.TopText h1 {
    width: fit-content;
    color: #eaeaf9;
    overflow: hidden;
    border-right: .17em solid #e29508;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .17em;
    animation-delay: 10s;
    animation:

            typing 5s steps(30, end) infinite,
            blink-caret .7s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    60% { width: 840px }
}

@keyframes blink-caret {
    from { border-color: transparent;}
    to { border-color: transparent;}
    50% { border-color: orange }
}
.topBar{
    background-color: white;
    padding-top:36px;
}
.title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}
.list{
    padding: 0 10%;
    display: flex;
    max-width: 100%;

}

.active div{
    background-color: #f2f2f2;
    border-radius: 8px;
    color:#103989;
}

.active .count{
    background-color:#abb3d0;
    border-radius: 8px;
    color:white;
}
.content{
    padding: 0 10%;
}
.listItem{
    display: flex;
    padding: 15px;
    align-items: center;
    color: #6b6e74;
    white-space: nowrap;
}
.count{
    margin-left: 5px;
    font-size: 12px;
    padding: 4px;
    background-color:#abb3d0;
    color:white;
    border-radius: 11px;
}

.filter{
    padding:0 10%;
}

.filterBottom{
    display: flex;
    justify-content: space-between;
    color:#6b6e74;
    padding-bottom: 20px;
}
.filterBottomLeft{
    display: flex;
}
.resetBtn{
    border: 1px solid #dadbdc;
    font-size: 14px;
    padding: 7px 16px;
    border-radius: 20px;
}
.resetBtn:focus{
    border: 1px solid #dadbdc;
}
.filterBox{
    font-size: 16;
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px #dadbdc;
}

.filterBox p{
    margin-right: 5px;
}
.filterInput{
    position: relative;
}
.filterInput input{
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 380px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: solid 1px #dadbdc;
    font-size: 16px;
    padding-left: 30px;
}

.filterInput i{
    position: absolute;
    z-index: 324;
    bottom: 27px;
    left: 3px;
    font-size: 24px;
    color:#6b6e74;

}
@media (max-width: 858px){
    .list{
        padding: 0px;
        overflow: scroll;
        overflow-y: hidden;
    }
}