.MyProducts{
    display: flex;
    justify-content: center;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    background: rgb(16,57,137);
    background: linear-gradient(90deg, rgba(16,57,137,1) 0%, rgba(148,187,233,1) 100%);
    z-index: -3343;
}

.logForm{
    width: 50%;
    padding: 25px 60px 25px 40px;
    background-color: white;
    border-radius: 8px;
    margin-top: 90px;
}

.logForm h1{
    text-align: center;
}

.logForm form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
